<!doctype html>
<html lang="en">
<head>
    <title>{{ title }} - Media - IWGB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#962d22">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazysizes@5/lazysizes.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/lazysizes@5/plugins/unveilhooks/ls.unveilhooks.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:200,400,400i,700,700i&display=swap">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://iwgbassets-f208.kxcdn.com/icons/css/all.css">
</head>
<body>

<div class="container my-5">

    {% if _get.action is defined %}
        {% set status = 'success' %}
        {% if _get.status == 'failed' %}
            {% set status = 'danger' %}
        {% endif %}
        <div class="alert alert-{{ status }}">
            Job <strong>{{ _get.action }}</strong> finished with status <strong>{{ _get.status }}</strong>
        </div>
    {% endif %}

    {% block body %}{% endblock %}
</div>



<div class="container d-flex justify-content-center">
    <span class="text-muted my-5">&copy; {{ "now"|date('Y') }} Independent Workers Union of Great Britain</span>
</div>

{% block scripts %}{% endblock %}

</body>
</html>